<!doctype html>
<html lang="es">
<head>
	<title>CONF API</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<style type="text/css">
		.hide{ display: none; }
		/*.grupos{ border: 1px dotted #777; padding: 5px; }*/
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="page-header">
				<h3>Configuración de APIs</h3>
				<button type="button" id="crear" class="btn btn-default">Crear</button>
				<button type="button" id="editar" class="btn btn-default">Editar</button>
				<input type="text" id="cajaAPI" class="hide">
				<button  type="button" id="btnFind" class="btn btn-default hide" disabled="true">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</div>
		</div>
		<hr>
		<form method="post" name="myForm" id="myForm" class="hide form">
			<h4></h4>
			<div class="panel">
				<h5 class="panel-heading">CONF. GENERALES: </h5>
				<div id="gnrl" class="panel-body"></div>
			</div>
			<div>
				<h5>
					CONF. ESPECIFICAS: 
					<button type="button" id="masGroup" class="btn btn-default">
						<span class="glyphicon glyphicon-plus-sign"> </span>
					</button>
					&nbsp;&nbsp;
					<span id="newGroup" class="hide">
						<input type="text" name="newGroupName" id="newGroupName">
						<button type="button" id="btnNewGroup" disabled="true" class="btn btn-default">
							<span class="glyphicon glyphicon-ok-sign"> </span>
						</button>
					</span>
				</h5>
				<div id="espc"></div>
			</div>
			<br>
			<button type="button" id="guardar" class="btn btn-default">Guardar</button>
		</form>
	</div>
	<script type="text/javascript" src="javascripts/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="javascripts/index.js"></script>
</body>
</html>